{% extends 'base.html' %}

{% load static %}
{% load cart %}
{% load custom_filter %}

{% block content %}

<div class="mt-5">
    <div class="border rounded m-5">
        <p class = "display-2 p-3" style = "background: -webkit-linear-gradient(#f5f7fa, #b8c6db);
                                                        -webkit-background-clip: text;
                                                        -webkit-text-fill-color: transparent;"> Cart </p>
        <table class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th>SNo.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody style = "background: #455A64;">
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style = "height: 70px; width: 70px;" class = "rounded-circle" src="{{product.image.url}}" alt = ""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|cart_price:request.session.cart|currency}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>

            <tfoot style = "background: #455A64;">
                <tr>
                    <th class = "pl-5" colspan = "5" style = "font-size: 30px;"> Total </th>
                    <th  style = "font-size: 30px;">{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tfoot> 

        </table>
        <hr style = "background: #fff">
        <div class = "p-5 m-5">
            {% if request.session.customer %}
            <a href = "#" data-toggle="modal" data-target="#exampleModal" class = "btn btn-outline-info border rounded col-lg-3 float-right"> Check out </a>
            {% else %}
            <button type="button" disabled class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="Login to your account first">
                Checkout
            </button>
            {% endif %}
        </div>
    </div>
</div>

<!-- MODALS -->
  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Check-Out</h5> <hr />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class = "m-2 p-3">
                <form action = "/check-out" method = "POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <label for=""> Address </label>
                    <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for=""> Phone </label>
                        <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                    <input type = "submit" class = "btn btn-outline-info col-lg-6" value = "checkout">
                </form>
            </div>
        </div>
        <!--
        <div class="modal-footer">
        </div>
        -->
        </div>
    </div>
</div>

{% endblock %}