.main{
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #000;
    text-align: center;
    height: 100%;
    margin: 80px 350px 150px 350px;
  }

  .main h1{
    font-size: 30px;
    font-weight: bold;
    color: #1da1f2;
    margin-top: 20px;
  }
  
  .main_body{
    background-color: #262626;
    border: 1px solid none;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .main_body form div input{
      background-color: #262626;
      border-radius: 40px;
      border: 2px solid #0082e6;
  }

  .main_body form div input::placeholder{
      color: #627482;
      font-weight: bold;
  }

  .main_body h2{
    color: #0082e6;
    font-size: 20px;
    font-weight: bold;
  }
  
  #bttn{
    width: 250px;
    background: orangered;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
  
  form{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .form-group{
    margin: 20px;
  }
  
  .form-group input:focus{
    border-color: #1da1f2;
    transition: 0.5;
  }
  
  .marker{
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background: #627482; 
  }
  
  .or p{
    font-size: 20px;
    font-weight: bold;
    color: grey
  }
  
  .auser p{
    font-weight: bold;
    font-size: 25px;
    color: #627482;
  }
  
  .auser p a{
    font-weight: bolder;
  }
  
  .auser p a:hover{
    text-decoration: none;
  }